/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  with slight edits made by Me!
*/
*, *::before, *::after {
    box-sizing: border-box;
}
*:not(dialog) {
    margin: 0;
}
body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    background: rgb(114, 98, 255);
}
img {
    max-width: 100%;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    vertical-align: middle;
    shape-margin: 1rem;

}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
ul, li {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
body {
    display: grid;
    grid-auto-flow: row;
}
header {
    color:  rgb(251, 251, 255);
    margin-top: 1rem;
    padding: 1rem;
    place-self: center;
}
main {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 95vh 84px;
    gap: 1rem;
    padding: 1rem;
}
.info-area, .log-area, .score-area, .button-area, .title, .info-footer, footer {
    border: 4px rgba(39, 0, 179, 0.842) solid;
    border-top: rgb(133, 145, 255) 4px solid;
    border-left-color: rgb(133, 145, 255);
    background: rgb(216, 216, 255);
    padding: 1rem;
}
.info-area {
    overflow-y: scroll;
    scrollbar-color: rgba(39, 0, 179, 0.842) rgb(133, 145, 255);
    gap: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;

    .title {
        width: 28ch;
    }

    .button-area {
        width: 28ch;
        gap: 1rem;
        display: flex;
        justify-content: center;
    }
    .score-area {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: start;
        width: 28ch;
        & > h4 {
            text-align: left;
            padding: 0.4rem;
            
            > h4 {
                color: rgb(2, 2, 192);
            }
        }
    }

    .log-area{
        flex-shrink: 0;
        display: flex;
        flex-flow: column;
        align-items: start;
        padding: 1rem;
        margin: 1rem;
        width: 28ch;
        height: 300px;
        > ul {
            color: rgb(2, 2, 192);
            text-align: left;
            display: flex; 
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .info-footer {
        width: 28ch;
        summary {
            text-align: left;
        } 
        > ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 0.4rem;
        }
    }
}

.game-area {
    grid-row: span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    gap: 0.14rem;    
    border: 4px rgba(39, 0, 179, 0.842) solid;
    border-top: rgb(133, 145, 255) 4px solid;
    border-left-color: rgb(133, 145, 255);
    background: rgb(171, 171, 245);
}

button[class*="grid"], div[class*="grid"] {
    width: 67px;
    height: 65px;
    border: rgba(30, 0, 163, 0.938) 4px solid;
    border-top: rgb(133, 145, 255) 4px solid;
    border-left-color: rgb(133, 145, 255);
    background: rgb(208, 211, 255);

    &[class*="CPU"]:hover, &[class*="CPU"]:focus {
        background: rgb(0, 94, 202);
    }
}

button[class^="1"]:not(button[class*="CPU"]), div[class^="1"]:not(button[class*="CPU"]) {
    background: rgb(82, 88, 177);
}
button[class^="2"], div[class^="2"] {
    position: relative;
    background: rgb(255, 201, 86);
    &::after {
        position: absolute;
        top: 22px;
        left: 18px;
        display: inline-block;
        content: "O";
        font-size: 40px;
        color: rgb(172, 117, 0);
    }
}
button[class^="3"], div[class^="3"] {
    position: relative;
    background: rgb(255, 42, 42);
    &::after {
        position: absolute;
        top: 22px;
        left: 18px;
        display: inline-block;
        content: "X";
        font-size: 40px;
        color: rgb(99, 0, 0);
    }
}
footer {
    grid-column: 1;
    grid-row: 2;
    width: 40ch;
    padding: 1rem;
    max-height: 6rem;
    & > ul {
        display: flex;
        font-size: 14px;
        gap: 1rem;
        justify-content: space-around;
    }
}

@media (max-width: 1100px) {
    body {
        max-height: 100vh;
        overflow: hidden;
    }
    main {
        display: flex;
        gap: 1rem 5rem;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .info-area {
        max-height: 89.2vh;
    }
    .game-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        
    }
    .board {
        height: 430px;
        width: 430px;
    }

    button[class*="grid"], div[class*="grid"] {
        width: 40.3px;
        height: 39px;
    }

    button[class^="2"], div[class^="2"] {
        &::after {
            font-size: 2.2rem;
            top: 7px;
            left: 7px;
        }   
    }
    button[class^="3"], div[class^="3"] {
        &::after {
            font-size: 2.2rem;
            top: 7px;
            left: 7px;
        }
    }
    footer {
        max-width: 37.6ch;
        position: absolute;
        bottom: 0.5rem;
        ul {
            font-size: 13.5px;
        }
    }
}