/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  with slight edits made by Me!
*/
*, *::before, *::after {
    box-sizing: border-box;
}
*:not(dialog) {
    margin: 0;
}
body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
}
img {
    max-width: 100%;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    vertical-align: middle;
    shape-margin: 1rem;

}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

main {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 540px;
    width: 530px;
    gap: 0.14rem;    
    border: 4px black solid;
    background: rgb(171, 171, 245);
}

div[class*="grid"] {
    width: 50px;
    height: 50px;
    border: rgb(0, 38, 163) 4px solid;
    background: rgb(208, 211, 255);

    &[class*="CPU"]:hover {
        background: rgb(0, 94, 202);
    }
}

div[class^="1"]:not(div[class*="CPU"]) {
    background: rgb(82, 88, 177);
}
div[class^="2"] {
    background: rgb(255, 117, 117);
}
div[class^="3"] {
    background: rgb(255, 42, 42);
}